@import "variables";
@import "mixins";

body {
  font-size: 16px;
  font-family: var(--ff-primary);
  line-height: var(--lh-l);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: var(--ff-normal);
  letter-spacing: 0;
}
